@{
    ViewBag.Title = "遊び方";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    
<p>
    @Html.ActionLink("戻る", "Index", "Home")
</p>

</article>

<article>
    <h3>役職について</h3>
    執筆中
</article>
