@{
    ViewBag.Title = "遊び方";
}

<h2 class="text-info">ゲームの進行について</h2>
<h3>1. 参加者募集中</h3>
<p>
    新規作成からゲームを作成すると、参加者募集中になります。<br />
    ３～７人の参加者が集まった上で、ゲーム作成者が開始ボタンを押すとゲームが開始されます。<br />
    一定時間（１時間）が経過してもゲームが開始されなかった場合、自動的に削除されます。
</p>
<h3>2. 夜 <small>1min.</small></h3>
<p>
    ゲームが開始するとカードが配られ、あなたの役職が判明します。<br />
    占い師、または怪盗は夜の間に能力を使用してください。<br />
    使用するとすぐに結果が表示されます。<br />
    占い師：怪盗がカードを交換する前の結果が表示されます。（占ったあとに怪盗に交換された可能性があります）<br />
    怪盗：占い師とカードを交換しても、占い結果を見ることは出来ません。<br />
    時間内に使用されなかった場合、ランダムで対象が選択されます。 <br />
    夜は必ず1分間あります。はやく能力を選んだとしてもはやく明けることはありません。
</p>
<h3>3. 昼 <small>8min.</small></h3>
<p>
    議論の時間です。<br />
    この時間中は投票出来ません。<br />
    「時間を進める」ボタンを全員が選択することにより、残り時間をスキップして投票フェイズに進むことができます。
</p>
<h3>4. 投票 <small>1min.</small></h3>
<p>
    投票の時間です。<br />
    一度選んだ投票先を変更することは出来ません。慎重に選択しましょう。
</p>
<h3>5. 決着</h3>
<p>
    投票により処刑者が決定され、勝敗の結果が表示されます。<br />
    ゲームが終了するまで、感想を書き込むことが出来ます。
</p>
<h3>6. 終了</h3>
<p>
    ゲームが終了し、メッセージを書き込むことは出来ません。
</p>