@{
    ViewBag.Title = "トップ";
}

<div class="hero-unit">
    <h1>ワンナイト人狼チャット</h1>

</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>ゲーム新規作成</h2>
        @if (Request.IsAuthenticated)
        {
            <button class="btn btn-default">
                @Html.ActionLink("新規作成", "Create", "Game")
            </button>
        }
        else
        {
            <p>
                ゲームを新規作成するにはログインしてください。
            </p>
        }

    </div>
</div>
<h2>ゲーム一覧</h2>
@Html.Action("PartialIndex", "Game")

<p>
    過去に参加したゲームはページ右上の『戦績』から確認出来ます。
</p>

<hr />
<div class="hero-unit">
    <h1>このサイト（ワンナイト人狼チャット）について</h1>
    <p class="lead">
        <a href="http://1nite-jinro.com/">ワンナイト人狼</a> をブラウザ上で、チャット形式で遊べる Web アプリです。 <br />
        ワンナイト人狼のルールを元に Web 上にてほぼ再現しています。<br />
    </p>

</div>
<div class="row">
    <div class="col-md-4">
        <h3>ワンナイト人狼とは？</h3>
        <p>
            ワンナイト人狼とは akidelic さんが作成された、カードゲーム「人狼」が手軽に遊びやすくなったゲームです。10分前後で1ゲーム遊べます。<br />
            詳しくは <a href="http://1nite-jinro.com/">1nite-jinro.com</a> や <a href="http://commons.nicovideo.jp/material/nc63613">【ワンナイト人狼】ルールブック</a> などを参照するとよいでしょう。
        </p>
    </div>
    <div class="col-md-4">
        <h3>ルール <small>役職や勝敗決定について</small></h3>
        <p>
            公式ルールである <a href="http://commons.nicovideo.jp/material/nc63613">【ワンナイト人狼】ルールブック</a> とは違って、2枚の人狼のうち、1枚が狂人という役職に置き換わっています。<br />
            狂人は人狼側ですが、自分が処刑されても人狼が生存していれば人狼の勝利となります。<br />
            他の役職の解説も含め、詳しくは @Html.ActionLink("ルール", "Rules", "Home") をご参照ください。
        </p>
    </div>
    <div class="col-md-4">
        <h3>遊び方 <small>ゲームへの参加について</small></h3>
        <p>
            右上の「登録」から新たにユーザーを登録、または登録済みのユーザーでログインし、ゲーム一覧から募集中のゲームを選択して参加してください。<br />
            自分でゲームを作成し、参加者を募集することも出来ます。GMは不要のため、ゲーム作成者もゲームに参加出来ます。<br />
            ゲームの進行については詳しくは @Html.ActionLink("遊び方", "Howto", "Home") をご参照ください。
        </p>
    </div>
</div>