@{
    ViewBag.Title = "ルール";
}

<h2 class="text-info">役職の説明</h2>

<h3 class="text-success">人間SIDE</h3>
<hr />
<h3 class="text-success">村人</h3>
<p class="lead">
    特殊な能力はありません。<br />
    他の人に質問しながら、矛盾を探し、情報を整理し、人狼を見つける情報を集め、推理してください。
</p>

<h3 class="text-success">占い師</h3>
<p class="lead">
    他の人のカード、または配られなかった伏せカードを占う（こっそり見る）ことができます。<br />
    これは、村にとって大切な情報となります。自身を持って、伝えましょう。
</p>

<h3 class="text-success">怪盗</h3>
<p class="lead">
    自分と他人のカードを交換できます。交換したことは相手には伝わりません。<br />
    人間と交換した場合、村に有利に行動できますが、人狼と交換した場合、その時から人狼として行動しなければなりません。
</p>

<h3 class="text-danger">狼SIDE</h3>
<hr />
<h3 class="text-danger">人狼</h3>
<p class="lead">
    人間に正体がバレないように村人、占い師、怪盗に化けて、村を混乱させましょう。<br />
    仲間の人狼はいませんが、時として狂人が味方をしてくれることがあります。
</p>

<h3 class="text-danger">狂人</h3>
<p class="lead">
    人狼の味方をし、村を混乱させましょう。<br />
    人狼がいなかった場合は、自分が処刑されないように行動しなければなりません。
</p>

<hr />

<h2 class="text-info">プレイ人数と役職配分</h2>

<h3>３人で遊ぶ場合</h3>
<p class="lead">
    村人、占い師、怪盗、人狼、狂人のうち３枚がプレイヤーに割り当てられ、残り２枚が伏せカードとなります。
</p>
<h3>４人～６人で遊ぶ場合</h3>
<p class="lead">
    人数に従って、３人で遊ぶ場合の役職配分のうち村人カードの数が１枚ずつ増えていきます。
    伏せカードは３人のときと同様に２枚です。
</p>
<h3>７人で遊ぶ場合</h3>
<p class="lead">
    村人×４、占い師、怪盗、人狼、狂人のうち７枚がプレイヤーに割り当てられ、残りの１枚が伏せカードとなります。
</p>

<hr />

<h2 class="text-info">ゲームの流れ</h2>
<p class="lead">
    ここでは簡単に流れを紹介します。 @Html.ActionLink("遊び方", "Howto", "Home") もご参照ください。
</p>

<h3>ゲーム開始</h3>
<p class="lead">
    ゲーム作成者によってゲームが開始されると、参加人数によって自動的に各プレイヤーの役職と伏せカードが決定されます。<br />
    開始直後は夜から始まります。占い師、または怪盗の場合は能力を使用しましょう。
</p>


<h3>議論、投票</h3>
<p class="lead">
    夜が明けると、人間チームは誰が人狼かを探し、人狼チームは自分の正体がバレないように議論を開始します。<br />
    議論の時間が終了すると投票の時間になります。最も怪しい人物に投票しましょう。
</p>

<h3>勝敗決定</h3>
<p class="lead">
    人狼または狂人が処刑されたか否かによって、勝敗が決定します。
</p>

<hr />

<h2 class="text-info">ゲームの勝敗について</h2>

<h3>投票数の一番多い人が人狼だった場合</h3>
<p class="lead">
    人間チームの勝ちになります。
</p>
<h3>投票数の一番多い人が狂人だった場合</h3>
<p class="lead">
    プレイヤーの中に人狼がいた場合、人狼チームの勝ちになります。<br />
    プレイヤーの中に人狼がいなかった場合、人間チームの勝ちになります。（人狼不在時は狂人を人狼として扱う）
</p>
<h3>投票数の一番多い人が人間だった場合</h3>
<p class="lead">
    人狼チームの勝ちになります。
</p>
<h3>投票数が２：２等で最多票が同数の場合</h3>
<p class="lead">
    同数だった全員が処刑されます。
    その中に人狼がいた場合、またはプレイヤーの中に人狼がおらず、処刑された中に狂人がいた場合、人間チームの勝ちになります。
</p>
<h3>投票数が全員バラバラの場合</h3>
<p class="lead">
    処刑されません。<br />
    もし人狼または狂人がいた場合、人狼チームの勝ちになります。
</p>

<hr />

<p class="text-info">多くの説明を <a href="http://commons.nicovideo.jp/material/nc63613">【ワンナイト人狼】ルールブック</a> より引用、一部改変しています。</p>
