@{
    ViewBag.Title = "バージョン";
}

<h2>バージョン</h2>

<h3>アップデート情報</h3>
<h4>2014/10/31</h4>
<ul>
    <li>ユーザ一覧ページを追加</li>
</ul>
<h4>2014/10/18</h4>
<ul>
    <li>ページ右上の戦績から自分の参加したゲーム一覧を参照出来るようにした</li>
    <li>各ゲームの参加者一覧からそれぞれの戦績を参照出来るようにした</li>
</ul>
<h4>2014/06/28</h4>
<ul>
    <li>待ち合わせチャットルームの廃止</li>
    <li>トップに表示するゲーム数を少なくした。（過去のゲーム一覧が見れないので後ほど対応します）</li>
</ul>
<h4>2013/11/17 v2</h4>
<ul>
    <li>Safari で更新時に落ちる不具合を修正</li>
    <li>管理者発言を導入</li>
    <li>ログイン後に元のページに戻るように修正</li>
</ul>
<h4>2013/11/17</h4>
<ul>
    <li>ゲーム作成者が参加していないとゲームを開始出来なかった不具合を修正</li>
    <li>人狼の仲間確認メッセージを削除</li>
    <li>決着後の時間を延長（10min → 30min）</li>
</ul>
<h4>2013/11/11</h4>
<ul>
    <li>ツイートボタンのハッシュタグに #ワンナイト人狼 を追加</li>
    <li>人狼の能力使用フォームを削除</li>
    <li>このページを作成</li>
</ul>

@*
    TODO: やりたかったこと

    <h3>今後の予定</h3>

    <h4>短期的な不具合修正、軽微な仕様変更等</h4>
    <ul>
        <li>待ち合わせチャットルームの設置</li>
        <li>発言、更新周りの動作改善</li>
        <li>レイアウト改善</li>
    </ul>
    <h4>中長期的な大幅修正等（全般的に修正内容が大きく、実装時期は極めて不定です）</h4>
    <ul>
        <li>管理用機能の実装（細かくちまちまリリースは予定）</li>
        <li>デザイン、アイコン等を含む見た目の洗練</li>
        <li>人狼2枚ルールと狂人入りルールを選択可能に</li>
        <li>その他、時間の設定や各種カスタマイズを可能に（ゲーム作成画面が煩雑にならないようにはします）</li>
        <li>作成者不在でも、ゲーム参加者の同意によってゲームを開始出来るように</li>
        <li>身内利用と野良利用をそれぞれやりやすくする仕組みの導入</li>
        <li>身内→鍵もしくは身内専用看板とか</li>
        <li>野良→ゲーム作成通知の受信、あるいは通知bot。ランダムマッチシステム</li>
        <li>表示名とIDの分離</li>
    </ul>*@